.catalog {
  width: 100vw;
  background-color: $lightest-gray;
}

.catalog__wrapper {
  width: 320px;
  display: flex;
  margin: 0 auto;
  padding: 50px 20px 44px;
  flex-direction: column;
  align-items: center;
  color: $base-black;
  background-color: $lightest-gray;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 80px 20px 90px;
  }

  @media (min-width: $desctop-width) {
    width: 1440px;
    padding: 100px 40px 120px;
  }
}

.catalog__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: $base-primary;
  text-transform: uppercase;
}

.catalog__heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }
}

.catalog__main-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desctop-width) {
    flex-direction: row;
    padding-top: 20px;
  }
}

.catalog__form {
  display: flex;
  width: 280px;
  flex-direction: column;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 728px;
    margin-bottom: 44px;
  }

  @media (min-width: $desctop-width) {
    width: 318px;
    margin-right: 30px;
  }
}

.catalog__price {
  width: 118px;
  padding: 10px;
  border: 2px solid $primary-lighter;
  border-radius: 4px;
  font-size: inherit;
  color: $base-black;
  font-weight: inherit;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 8px;
    width: 87px;
  }

  @media (min-width: $desctop-width) {
    width: 134px;
  }

  &::placeholder {
    color: $light-gray;
  }

  &:focus,
  &:hover {
    border: 2px solid $primary-darker;
  }

  &:disabled {
    border: 2px solid $light-gray;
  }
}

.catalog__milk-list {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 30px;
  }
}

.catalog__country-list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.catalog__button {
  width: 280px;
  padding: 8px 92px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    padding: 8px 20px;
  }

  @media (min-width: $desctop-width) {
    padding: 8px 26px;
  }

  &--apply {
    margin-bottom: 20px;
    background-color: $base-primary;
    color: $base-white;

    @media (min-width: $tablet-width) {
      width: 137px;
      margin: 0;
      margin-right: 20px;
    }

    @media (min-width: $desctop-width) {
      width: 149px;
      margin-right: 46px;
    }

    &:hover,
    &:focus {
      background-color: $primary-lighter;
    }

    &:active {
      background-color: $primary-darker;
    }

    &:disabled {
      background-color: $base-gray;
    }
  }

  &--reset {
    background-color: $base-white;
    color: $base-primary;

    &:hover,
    &:focus,
    &:active,
    &:disabled {
      color: $base-white;
    }

    &:hover,
    &:focus {
      background-color: $primary-lighter;
    }

    &:active {
      background-color: $primary-darker;
    }

    &:disabled {
      background-color: $base-gray;
    }

    @media (min-width: $tablet-width) {
      width: 120px;
    }

    @media (min-width: $desctop-width) {
      width: 149px;
    }
  }
}

.catalog__container {
  display: flex;
  flex-direction: column;
}

.catalog__sort {
  margin-bottom: 16px;
  padding-left: 2px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    margin-left: auto;
  }
}

.catalog__select {
  width: 152px;
  margin: 0 -8px 0 12px;
  padding: 0;
  color: $base-primary;
  background-color: $lightest-gray;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    width: 168px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: $desctop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 36px;
  }
}
